@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply bg-primary-200 font-inter;
	}

	i {
		@apply text-base md:text-xs xl:text-xl;
	}

	i {
		@apply text-xl;
	}

	input,
	textarea {
		@apply w-full rounded-lg bg-dark text-light p-3 focus:outline-none;
	}

	input::placeholder,
	textarea::placeholder {
		@apply text-slate-300;
	}
}

@layer components {
	.section-title {
		@apply text-lg font-bold text-secondary-500 md:text-base xl:text-2xl;
	}
	.title {
		@apply text-2xl font-bold text-dark mb-4 xl:text-4xl;
	}
	.paragraph {
		@apply text-sm mt-4 font-normal text-gray;
	}
	.icon-bg {
		@apply w-10 h-10 rounded-full border flex justify-center items-center border-dark hover:border-secondary-500 hover:bg-secondary-500 hover:text-light active:bg-secondary-600;
	}

	.btn {
		@apply flex items-center w-fit rounded-lg px-4 py-3 gap-3 bg-secondary-500 hover:bg-secondary-400 text-light;
	}
	.btn-text {
		@apply text-base font-semibold md:text-xs xl:text-xl;
	}
}

.navbar-fixed {
	@apply fixed z-[9999] bg-primary-500 bg-opacity-50 transition duration-500 shadow-md;
	backdrop-filter: blur(5px);
}

.hamburger-line {
	@apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
	@apply rotate-45;
}
.hamburger-active > span:nth-child(3) {
	@apply -rotate-45;
}
.hamburger-active > span:nth-child(2) {
	@apply scale-0;
}
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-pagination-bullet-active {
	@apply bg-secondary-500;
}
#swiper-pagination {
	@apply -bottom-0;
}

.swiper-slide {
	@apply h-auto mx-auto px-12;
}

.card {
	@apply flex flex-col  h-full bg-white rounded-lg shadow-md overflow-hidden transition;
}

.card.active {
	@apply shadow-lg scale-110;
}

.card *::-webkit-scrollbar {
	display: none;
}
